extends html, javascript, css

#Create a component stub
snippet tem
	<template>
		<${1:BaseTag}>
			${0}
		</$1>
	</template>
	<script>
		export default {
			name: '${2:ComponentName}',
			data() {
				return {
				}
			}
		}
	</script>
snippet sscope
	<style ${1:scoped}>
		${2:p} {
		}
	</style>
